body {
  font-family: sans-serif;
  font-size: 3em;
  margin: 0;
}

.top-navigation {
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 120px;
  background-color: blue;
  width: 100%;
}

.toolbar img {
  height: 80px;
  margin-left: 16px;
}
/* Center the content in the browser window */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav li {
  list-style-type: none;
  margin-left: 1em;
  border: 1px white solid;
  padding: 0.5em 1em 0.5em;
  border-radius: 0.5em;
  color: white;
}

.content img {
  width: 600px;
  margin-right: 24px;
}
